/***** CSS RESET *****/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***** END OF CSS RESET *****/

.bigNoodle{font-family: BigNoodleTitling, arial;}
.helvetica{font-family: Helvetica, arial;}

/***** STYLESHEET *****/

header, .main_block, #footer
{
	width:1200px;
	margin:auto;
	text-align:center;
}

nav, footer
{
	width:100%;
}

.main_block{ position:relative; margin-top:70px; }
.anchor{position:absolute; top: -150px; }
.main_block{min-height:500px;}

header h1 a, header h2{text-transform:uppercase;}
header h3{text-transform:lowercase;}
header h1 a{font-size:84px;color:#000; text-decoration:none;}
header h2{font-size:29px;}
header h3{font-size:27px;}

#stickyalias{display: none; height:5px;}

#nav_w{width:100%; background:#fff;z-index: 999;}
nav
{
	margin-top:15px;
	background:#333333; 
	border-top:2px solid #161616; border-bottom:2px solid #161616;
	box-shadow:0px 5px 5px #cfd2d3;
	height:50px;
	margin-bottom:50px;
}

nav ul{text-align:center;}
nav ul li{display:inline; margin:0px 50px;}
nav ul li a{text-decoration:none; color:#fff; font-size:23px; line-height:50px;}
nav ul li a:hover{border-bottom:1px solid #0abcd6; color:#848484;}
nav ul li a img{position:absolute;margin-left:-40px; margin-top:5px;}

.img_block{padding:25px; margin-bottom:25px !important;}
.light{background:#e3e3e3; border:1px solid #cacac9;}
.dark{background:#8ea1a4; border:1px solid #bac5c7;}
.rec_side{height:340px; width:480px; margin:auto; text-align:center;}
.rec_up{height:500px; width:300px; margin:auto; text-align:center;}
/*.square{height:500px; width:500px; margin:auto; text-align:center;}*/
.img_pop{cursor:pointer;}


.popup_w
{
	position:relative;
	padding:5px;
}

.popup
{
	padding-top:50px;
	padding-bottom:50px;
    margin-left:100px;
   /* top: 0px;
   position: absolute;
    */width: 1000px;
   /* z-index: 999;
*/}

.close_pop
{
	background:#000;
	color:#fff;
	width:50px;
	height:50px;
	line-height:50px;
	font-size:25px;
	cursor:pointer;
	float:right;
}
.left{float:left;}
.text_block
{
	background:#eeeeed;
	border:1px solid #0ABCD6;
	padding:10px;
}
.text_block h2{font-size:65px;margin-top:15px;}
.text_block p{font-size:19px;margin-top:15px; margin-bottom:25px; word-spacing: 3px; line-height: 31px;}
.text_block h3 a{color:#999999; font-size:50px; text-decoration:none;}
.text_block h3 a:hover{color:#0ABCD6;}
.text_block .data_contact{color:#999999; font-size:17px; border-bottom:1px solid #000; padding-bottom:20px; padding-top:20px; width:500px; margin:auto;}
.text_block h4{color:#999999; font-size:30px; padding-top:25px;}
.text_block .contact_email {
    border-bottom: 1px solid #000000;
    color: #464646;
    font-size: 50px;
    margin: auto;
    padding-bottom: 25px;
    width: 500px;
    padding-top:15px;
}
.min_text{width:700px; min-height:0px; height:250px!important;}
.mid_block{width:850px; min-height:0px; height:250px!important;}
h2.links_title{font-size:33px; color:#999999;}
.midle{margin:auto; width:700px; margin-top:25px; padding-left:50px;}
.link p{margin-right:50px; line-height:5px; text-indent:15px;}
.link a p{color:#999; font-size:26px;}
.link a{width:auto;}
footer
{
	margin-top:50px;
	height:50px;
	background:#333333;
	line-height:50px;
	border-top:2px solid #161616; border-bottom:2px solid #161616;
}

footer a{font-size:25px; color:#fff; text-decoration:none;}

/***** END OF STYLESHEET *****/